.jumbotron img {
  width: 100%;
}

.collabs > div {
  border-top: solid thin var(--primary);
  display: flex;
  flex-wrap: wrap;
}

.collabs > div h1 {
  width: 100%;
}

.collabs > div img {
  width: 25%;
  margin: 2.5%;
}

.collabs > div p {
  width: 70%;
  margin: 2.5% 0;
}
form .form-group:last-child {
  padding-bottom: 3rem;
}

#message {
  display: none;
}

#contact {
  border-top: solid thin var(--primary);
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  background-color: var(--primary);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

footer a {
  color: white;
  text-decoration: underline;
}
